.main_heading {
  font-size: 40px;
  text-align: center;
}
.warn_heading {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}
.profile {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  border-radius: 50%;
  max-width: 50%;
  max-height: 30%;
  margin-top: 50px;
}
a {
  font-size: 100px;
  color: #00AFF0;
  text-decoration: none;
}
h1 {
  text-align: center;
}
a:hover {
  color: #FC3D39;
}

.social_links{
  margin: 0 auto 0 auto;
  text-align: center;
}
