header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
li {
  display: inline;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 5px;
}
.head_items {
  color: #00AFF0;
  text-decoration: none;
}
.head_items:hover {
  color: #FC3D39;
}
.main_heading {
  font-size: 40px;
  text-align: center;
}
.warn_heading {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}
.profile {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 50px;
}
.handle {
  font-size: 100px;
  color: #00AFF0;
  text-decoration: none;
}
.profile {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}
h1 {
  text-align: center;
}
.handle:hover {
  color: #FC3D39;
}
.social_links {
  margin: 0 auto 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
}
.web_presence {
  width: 50px;
  height: auto;
}
